.divCart {
    display: flex;
    justify-content: center;
    align-items: center;
}
.title {
    margin-top: 50px;
    margin-bottom: 15px;
    font-size: 30px;
    color: red;
}
.cartImg{
    height: 200px;
    margin: 20px;
    border-radius: 20px;
}
.cart_description{
    color:whitesmoke;
}

.cartContent {
    align-items: center;
    justify-content:center;
}

.cartContent .cartContent_container {
    align-items: center;
    justify-content:center;
}

.emptyButton{

    color:whitesmoke;
    border-radius: 5px;
}
.emptyButton:hover{
    background: red;
    color: black;
    border-radius: 5px;
}

.toBuy {
    margin-top: 80px; 
}
div h3{
    color:whitesmoke
}